venv/
.venv/

__pycache__/
*.pyc
.idea/
.DS_Store
desktop.ini

node_modules/
frontend/node_modules/

.env
.last_deploy_commit
deploy.log

# Local runtime logs
trace-backend.log

# AWS local artifacts
backend/api/aws/
backend/api/awscliv2.zip

trace-backend.log
*.log