[Unit]
Description=Trace Backend API
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/CapstoneProject
ExecStart=/home/ubuntu/CapstoneProject/venv/bin/uvicorn backend.api.main:app --host 0.0.0.0 --port 8000

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
